<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.pdfreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".AppContro"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermissionActivity"></activity>
        <activity android:name=".PrivacyActivity" />
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_premium_screen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".PremiumScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_premium_screen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ScanPDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecurePdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SearchPdfFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FileReducerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MergePdfFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TxtWordToPdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageToPdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDFViewerAcitivity"
            android:label="@string/pdf_reader" />
        <activity
            android:name=".AllFilesInFolderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter -->
            <!-- android:icon="@mipmap/ic_launcher" -->
            <!-- android:label="@string/app_name"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->


            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:scheme="content" /> -->
            <!-- <data android:scheme="file" /> -->
            <!-- <data android:mimeType="application/pdf" /> -->
            <!-- </intent-filter> -->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>